---
import Layout from "../layouts/Layout.astro";
---

<Layout title="ページが見つかりません" thumbnail="/ogp.png" path="/404">
  <div
    class="flex flex-1 flex-col items-center justify-center space-y-4 px-4 py-16"
  >
    <h1 class="text-6xl font-bold text-gray-900">404</h1>
    <p class="text-lg text-gray-500">ページが見つかりませんでした</p>
    <a
      href="/"
      class="rounded-full bg-gray-900 px-6 py-2 text-white transition hover:bg-gray-700"
    >
      トップページへ戻る
    </a>
  </div>
</Layout>
